<!DOCTYPE html>
<html class="h-100" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Weavy Chat Demo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <link href="~/css/styles.css" rel="stylesheet" asp-append-version="true">
  <link href="~/css/weavy-dropin.css" rel="stylesheet" asp-append-version="true">  
  <script src="~/js/weavy-dropin.js" asp-append-version="true"></script>  
  <script>var userDirectory = '@User.FindFirst("directory").Value';</script>
  <script src="~/js/script.js" asp-append-version="true" defer></script>
</head>
<body class="d-flex flex-column h-100">
  <nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" asp-controller="home" asp-action="index"><img src="~/favicon.svg" width="24" height="24" /><span class="fs-5"> Weavy Chat Demo</span></a>
      <div class="dropdown text-end">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Theme
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="#" id="blue-theme">Blue</a></li>
          <li><a class="dropdown-item" href="#" id="sand-theme">Sand</a></li>
          <li><a class="dropdown-item" href="#" id="default-theme">Default</a></li>
        </ul>
          <button id="messenger-button" class="btn btn-icon">
            <svg width="24" height="24" class="i i-weavy-messenger text-white" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
              <path class="st0" d="M16.9,6.8H7.2C6.5,6.8,6,7.3,6,7.9s0.5,1.1,1.1,1.1h9.7c0.6,0,1.1-0.5,1.1-1.1S17.5,6.8,16.9,6.8z M12.4,11.3
                H7.2c-0.6,0-1.1,0.5-1.1,1.1c0,0.6,0.5,1.1,1.1,1.1h5.2c0.6,0,1.1-0.5,1.1-1.1S13,11.3,12.4,11.3z M21,0H3C1.3,0,0,1.4,0,3v13.6
                c0,1.7,1.3,3,3,3h4.5v3.9c0,0.5,0.5,0.7,0.9,0.5l5.9-4.4H21c1.7,0,3-1.4,3-3V3C24,1.4,22.7,0,21,0z M21.8,16.6
                c0,0.4-0.3,0.8-0.7,0.8h-7.5l-3.7,2.8v-2.8H3c-0.4,0-0.7-0.3-0.7-0.8V3c0-0.4,0.3-0.8,0.7-0.8h18c0.4,0,0.7,0.3,0.7,0.8V16.6z"/>
            </svg>
         </button>
      </div>
  </nav>

  <div id="messenger-container"></div>

  <main class="flex-shrink-0">
    <div class="container py-5">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">In-app Chat</h1>
          <p class="col-md-8 fs-4">Adding in-app chat with Weavy Drop-in UI to your .NET app in a snap.</p>
          <a class="btn btn-primary btn-lg" type="button" href="https://www.weavy.com" target="_blank">Learn more</a>
        </div>
      </div>

      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-white bg-dark rounded-3">
            <img class="w-25 mx-3 float-start" src='@User.FindFirst("avatar").Value'/>
            <h2>Logged in as</h2>
            <p>You are logged in as @User.Identity.Name.</p>
            <a class="btn btn-outline-light" asp-controller="home" asp-action="logout">Sign out</a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Docs</h2>
            <p>Find everyting you need on our docs site!</p>
            <a target="_blank" href="https://www.weavy.com/docs" class="btn btn-outline-secondary" type="button">Weavy Docs</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>

