@namespace weavy "http://www.weavy.com/";
p {
    color: purple;
}


#my-messenger body {
  background-color: cyan;
}


@media (max-width: 480px) {
  #my-messenger .message.me .bubble {
    background: red;
  }
}

