body {
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.btn-icon:focus {
  box-shadow: none;
}

.i {
  width: 1.5rem;
  height: 1.5rem;
  fill: currentColor;
}

.drawer {
  position: fixed;
  top: 3.5rem;
  bottom: 0;
  z-index: 1039;
  transition: transform, opacity;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  right: 0;
  width: 20rem;
  transform: translateX(20rem);
  pointer-events: none;
  background-color: white;
  box-shadow: -1px 0 2px rgba(204, 204, 204, 0);
}

.drawer.open {
  transform: none;
  box-shadow: -1px 0 2px rgba(204, 204, 204, 1);
}

@media (max-width: 768px) {
  .drawer {
    width: 100%;
    transform: translateX(100%);
  }
}

#messenger .badge {
  position: absolute;
  right: 1rem;
  top: .5rem;
  border-radius: 1rem;
  padding: .25rem;
  min-width: 1rem;
  max-width: 2rem;
  height: 1rem;
  line-height: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
