@namespace weavy "http://www.weavy.com/";

@media (prefers-color-scheme: dark) {
  :root {
    --bs-body-bg: #000;
    --bs-body-color: #ccc;
  }

  .weavy-panel,
  .weavy-global .weavy-panels.weavy-overlays .weavy-panel.weavy-modal {
    background: #000;
  }
  .weavy-global .weavy-panels.weavy-overlays .weavy-panel.weavy-modal {
      border: 1px solid #333;
  }

  .weavy-panel.weavy-open[data-title]::before,
  .appbar-light {
    background: rgba(41, 41, 41, 0.95);
    color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px #000 solid;
  }

  .weavy-global .weavy-panels.weavy-overlays .weavy-panel .weavy-controls .weavy-icon,
  .appbar-light .btn-icon:not(.btn-color), .appbar-light .btn-link:not(.btn-color) {
    color: rgba(255, 255, 255, 0.69);
  }

  .appbar-light .btn-icon:not(.btn-color):hover, .appbar-light .btn-icon:not(.btn-color):focus, .appbar-light .btn-link:not(.btn-color):hover, .appbar-light .btn-link:not(.btn-color):focus {
    color: rgba(255, 255, 255, 0.88);
  }

  .form-control, 
  .search-form .btn-icon + .form-control {
    background: #333;
    color: #ccc;
  }

  .btn-icon {
    color: #999;
  }

  .btn-icon:hover, .btn-icon:focus {
    color: rgba(204, 204, 204, 0.87);
  }

  .dropdown-menu {
    background: #333;
    border: 1px solid #666;
    box-shadow: none;
  }

  .dropdown-item {
    background: #333;
    color: #ccc;
  }

  .dropdown-item > img, .dropdown-item .i {
    color: rgba(204, 204, 204, 0.54);
  }

  .list-group-item {
    background: #000;
    color: #ccc;
  }

  .list-group-item-action:hover, .list-group-item-action:focus,
  .dropdown-item:hover, .dropdown-item:focus {
    color: #ccc;
    background: #666;
  }

  .conversation .list-group-item-action:hover .excerpt, .conversation .list-group-item-action:focus .excerpt {
    color: #999;
  }

  .bubble {
    background-color: hsl(199deg, 0%, 25%);
  }

  .message.me .bubble {
    background-color: hsl(199deg, 76%, 25%);
  }

  .reaction-list {
    background: hsl(199deg, 0%, 25%);
    border-color: hsl(199deg, 0%, 25%);
  }

  .message.me .reaction-list {
    background: hsl(199deg, 76%, 25%);
    border-color: hsl(199deg, 76%, 25%);
  }

  .text-muted {
    color: #999 !important;
  }

  svg.i.text-icon * {
    fill: rgba(204, 204, 204, 0.54);
  }

  .date-separator time {
    background: #666;
  }

  #message-form {
    background: rgba(41, 41, 41, 0.95);
  }

  #message-form .message-editor {
    color: rgba(255, 255, 255, 0.5);
    border-top: 1px #000 solid;
  }

  #message-form .cm-editor {
    background-color: #333;
    outline-color: #666;
    border-radius: 1rem;
  }

  #message-form .cm-editor.cm-focused {
    outline-color: #999 !important;
  }

  .modal-content {
      background: #333;
  }

  .form-group-bottom .form-buttons::after {
    background: rgba(41, 41, 41, 0.95);
    border-top: 1px #000 solid;
  }

  .table {
      color: #ccc;
  }
}
